<link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>

<table class="table table-striped table-bordered table-hover nowrap table-responsive" cellspacing="0" style="position: relative; overflow: auto; width: 100%;" id="demand-table">
    <!--Tablo Id JS ile bağltanı kurmak için-->
    <thead>
        <tr>
            <th>Name</th>                              
            <th>Mail</th>                             
            <th>Body</th>                              
            <th>Text</th>                              
        </tr>
    </thead>
</table>
<script src="~/js/datatable.js"></script>
