
<form onsubmit="return CreateDemand()" id="create-demand">
    <div class="mb-3">
        <label>Şikayet Türü</label>
        <select id="Name" name="Name" class="form-control" required></select>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Kullanıcı adı</label>
        <textarea class="form-control" id="Complaint" name="Complaint" required></textarea>
    </div>
    <div>
        <input type="submit" class="form-control" value="Kayıt Et"/>
    </div>
</form>
<script src="~/js/site.js"></script>