
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#demandAddModal">
    Talep Oluştur
</button>

<!-- Modal -->
<div class="modal fade" id="demandAddModal" tabindex="-1" aria-labelledby="demandAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="demandAddModalLabel">Talep Oluştur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>
            <div class="modal-body">
                <label>Şikayet Türü</label>
                <select id="option" class="form-control"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary">Oluştur</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/site.js"></script>